*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  background-color: #fff;
}

#task-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(233, 237, 207, 0.50);
    padding: 10px;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #task-form {
     width: 100%;
    max-width: 800px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
  
  #task-input {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: large;
  
  }

  
  label {
    background-color: #999;
    color: white;
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    padding: 10px 30px;
  }
  
  button {
    background-color: #030431;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    padding: 16px 50px;
    margin: 10px;
    box-shadow: 0 9px #999;
  }

  .button:hover {
    background-color: #b6158e;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
    border-radius: 10px;

  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
  }
  
  .task-item .task-text {
    flex-grow: 1;
  }
  
  .task-item .task-status {
    margin-right: 10px;
  }
  
  .completed {
    background-color: #4CAF50;
    color: #000;
    border-radius: 40px;
    padding: 10px 30px;
  }

  .not-completed {
    background-color: #ff0000;
    color: #000;
    border-radius: 40px;
    padding: 10px 30px;
  }
  
  .in-progress {
    background-color: #ecec2c;
    color: #000;
    border-radius: 40px;
    padding: 10px 30px;
  }
  